export(XPSgrowth)
export(double_gompertz)

S3method(plot, "xpsg")
S3method(summary, "xpsg")

import(ggplot2)
importFrom("knitr", "knit")
importFrom("minpack.lm", "nlsLM", "nls.lm.control")
importFrom("stats", "nls", "nls.control", "predict", "coef")
importFrom("methods", "is")
importFrom("utils", "capture.output", "setTxtProgressBar", "txtProgressBar")
importFrom("brnn", "brnn", "predict.brnn")
importFrom("mgcv", "gam", "predict.gam")
importFrom("dplyr", "summarise", "group_by", "n", "rename")
importFrom("magrittr", "%>%")
importFrom("graphics", "lines")
